<div class="jumbotron jumbotron-fluid" style="max-width:500px;">
    <div class="container">
        <img class=" itemImage text-center" src="<%= articles[i].img %>" alt="Image Item">
        <a href="<%= articles[i].link %>">
            <h2>
                <%= articles[i].title %>
            </h2>
        </a>
        <p>
            <%= articles[i].summary %>
        </p>
        <form action="">
            <input type="text">
            <button>Submit</button>
        </form>
    </div>
</div>