
.navbar{
    background-color: lightslategray;
}

.navbar-brand{
    color: white;
}

.nav-item{
    display: inline-block;
}

.nav-item a{
    color: white;
}

.nav-item a:hover{
    color: lightblue;
}

.jumbotron-fluid{
    border-radius: 5px !important;
    padding-top: 10px;
    padding-bottom: 2px;
}

.itemImage{
    width: 100%;
    height: 60%;
    margin-bottom: 5px;
    margin-top: 0px;
}

.priceDisplay{
    margin-bottom: 0px;
}

.originalPrice{
    color: darkgrey;
    text-decoration: line-through;
}

.price{
    color: green;
}

.percentOff{
    font-size: 12px;
    font-style: italic; 
}
