
.navbar{
    background-color: lightslategray;
}

.navbar-brand{
    color: white;
}

.nav-item{
    display: inline-block;
}

.nav-item a{
    color: white;
}

.nav-item a:hover{
    color: lightblue;
}